# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

ENVIRONMENT="demo"
DATABASE_URL="postgresql://postgres:Zaq!@wsxcde3@db.fhasuqzjmruhvugclutt.supabase.co:5432/postgres?schema=public"
FACEBOOK_ACCESS_TOKEN="EAAVZBLcXny5QBALZCLepKnqJfJV5KlScf6l9Xg5KjnI2ZBtWmBWh8MDiErXHZAZCeUx9CNgKu8UEdjiVkfUgGoqsQbud9TtaOvUAAZCPxhG7BVLLGXa48OkXSuUSgE8uoo0IFZCzxm2ezJhN2OagOqwGlm5mWVa5O9kZBUt7RwqDZC0ZAg8cZAZC1zszvQ2RBgz8OHUZD"
FACEBOOK_APP_ID="1546109942483860"
FACEBOOK_AD_ACCOUNT_ID="act_877425723675472"
FACEBOOK_ACCESS_SECRET="b0b83bb3ae100d241f217480a3e50956"
FACEBOOK_PAGE_ID="116166821341337"
FACEBOOK_ADSET_STATUS="PAUSED"
STRIPE_SECRET_DEMO="sk_test_51MrtJBGN2oU4a79mU2HpB4ylrPjUtAMNchpqvor5vobtCs1wKFul82nSTIRjURGMEUfhV4hpPttU0uc4UZWc8wPi00fofFYVOL"
STRIPE_WEBHOOK_DEMO="whsec_k68Ao4LKN2pSmCu2xaN49FewIMOQoGFV"
STRIPE_SECRET_LIVE="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"
STRIPE_WEBHOOK_LIVE="whsec_bRNTzeiAT793hua0m9C8OKTI3UFXo6IL"
BASE_URL="https://lost-dogge-web.vercel.app"
SLACK_WEBHOOK_URL="https://hooks.slack.com/services/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"

