# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

ENVIRONMENT=""
DATABASE_URL=""
FACEBOOK_ACCESS_TOKEN=""
FACEBOOK_APP_ID=""
FACEBOOK_AD_ACCOUNT_ID=""
FACEBOOK_ACCESS_SECRET=""
FACEBOOK_PAGE_ID=""
FACEBOOK_ADSET_STATUS=""
STRIPE_SECRET_DEMO=""
STRIPE_WEBHOOK_DEMO=""
STRIPE_SECRET_LIVE=""
STRIPE_WEBHOOK_LIVE=""
BASE_URL=""
SLACK_WEBHOOK_URL=""

